@import "tailwindcss";

/* Kita definisikan utility class untuk font secara manual menggunakan CSS biasa.
  Ini adalah cara yang paling stabil dan bebas dari potensi bug parser @theme.
*/
.font-body {
  font-family: var(--font-noto-sans-thai);
}

.font-heading {
  font-family: var(--font-playfair);
}

.font-body-alt {
  font-family: var(--font-manrope);
}

.font-script {
  font-family: var(--font-alex-brush);
}

.font-alice {
  font-family: var(--font-alice);
}


/* Efek garis bawah untuk link navigasi di header */
.nav-link-hover {
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 6px;
}

.nav-link-hover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2563EB;
  /* Tailwind's blue-600 */
  transition: width 0.3s ease-out;
}

.nav-link-hover:hover::after,
.nav-link-hover.active::after {
  width: 100%;
}